
body {
    margin: 0;
    padding-left: 15px;
    padding-right: 15px;
}

div {
	/* outline: red solid 1px; */
	margin: 0;
}

.inl-block {
    display: inline-block;
}

.caixa-flex {
	display: flex;
	padding: 5px;
}

.inl {
    display: inline;
}

.cabecalho {
    margin: auto;
}

.caixa-paciente,
.menu-paciente,
#caixa-sair 
#caixa-pesquisa {
    display: inline-block;
}

.caixa-paciente,
.caixa-mensagens {
    border-style: outset;
    border-width: 2px;
    border-color: gray;
}

.caixa-paciente {
    background-color: #e6e6e6;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    width: 31%;
    font-weight: bold;
}

.caixa-mensagens {
    width: 100%,
    padding-top: 5px;
    padding-bottom: 5px;
}

.remetente {
    font-weight: bold;
}

.menu-paciente {
	position: relative;
    width: 80%;
}

.caixa-foto {
	position: relative;
    width: 20%;
    padding: 0px;
}

#foto-paciente {
	margin-right: auto;
	margin-left: auto;
}

#mensagem-cabecalho {
	text-align: center;
}

#caixa-pesquisa {
	width: 95%;
	align-items: center;
}

#caixa-sair {
	width: 5%;
}

#btn-sair {
	margin-left: auto;
	margin-right: auto;
}

#btn-pesquisar {
	margin-left: 5px;
}

#calendario {
	align-self: center;
	margin-left: 10px;
}

#caixa-corpo {
	box-shadow: 0 -3px 5px 0px grey;
}

#caixa-data {
	margin-bottom: 5px;
}
