
body {
    margin: 0;
    padding-left: 15px;
    padding-right: 15px;
}



div {
	outline: red solid 1px;
	margin: 0;
}

.inl-block {
    display: inline-block;
}

.inl {
    display: inline;
}

.cabecalho {
    margin: auto;
}

.caixa-paciente,
.caixa-foto,
.menu-paciente {
    display: inline-block;
}

.caixa-paciente,
.caixa-mensagens {
    border-style: outset;
    border-width: 2px;
    border-color: gray;
}

.caixa-paciente {
    background-color: #e6e6e6;
    padding: 5px;
    margin-left: 7px;
    margin-right: 7px;
    width: 30%;
    font-weight: bold;
}

.caixa-mensagens {
    width: 100%,
    padding-top: 5px;
    padding-bottom: 5px;
}

.remetente {
    font-weight: bold;
}

.menu-paciente {
	position: relative;
    width: 70%;
    top: -5px;
}

.caixa-foto {
	position: relative;
	right: -15px;
    width: 25%;
    padding: 0px;
}

.foto-paciente {
	position: relative;
    right: -39px;
}
