{* Smarty *}

{include file="header.tpl" title="Trabalho DSW"}

<!-- Cabeçalho -->
<div>
    <div>
        <p> {$msg_cabecalho} </p>
    </div>
    <div>
        <div>
            <label>Pesquisar por paciente: </label>
            <input type="text" name="txtPesquisa">
            <button> <img src="{$img_pesquisar}" alt="Pesquisar"> </button>
        </div>
        <div>
            <button> <img src="{$img_sair}" alt="Sair"> </button>
        </div>
    </div>
    <div>
        <p>{$data}</p>
        <img src="$img_calendario}" alt="Calendário">
    </div>
</div>

<!-- Corpo -->
<div>
    <!-- Caixa de mensagens -->
    <div>
        <!-- Cabeçalho -->
        <div>
            <img src="{$img_caixa_mensagens}" alt="Caixa de mensagens">
            <p> Mensagens </p>
        </div>
        <!-- Lista de mensagens -->
        <div>
            <!-- for num mensagens -->
            <!-- Mensagem individual -->
            <div>
                <!-- ícone da mensagem (lida ou não lida) -->
                <div>
                    <img src="{$img_msg}" alt="Ícone mensagem">
                </div>
                <!-- corpo da mensagem -->
                <div>
                    <p>{$remetente}</p>
                    <p>{$texto_msg}</p>
                </div>
            </div>
        </div>
    </div>

    <!-- Pacientes -->
    <div class="inl-block">
        <!-- for num pacientes -->
        <!-- Paciente -->
        {foreach $pacientes as $paciente}
        <div class="caixa-paciente">
            <!-- cabeçalho -->
            <div>
                <!-- menu -->
                <div>
                    <!-- nome -->
                    <div>
                        <p> {$paciente.nome} </p>
                    </div>
                    <!-- ações -->
                    <div>
                        <button> <img src="{$img_btn_1}" alt="botão 1"> </button>
                        <button> <img src="{$img_btn_2}" alt="botão 2"> </button>
                        <button> <img src="{$img_btn_3}" alt="botão 3"> </button>
                    </div>
                </div>
                <!-- foto -->
                <div>
                    <img src="{$paciente.foto}" alt="Foto do paciente">
                </div>
            </div>
            <!-- corpo -->
            <div>
                <p>Dados: <br> </p>
            </div>
        </div>
        {/foreach}
    </div>
</div>

{include file="footer.tpl"}
